<div class="page">
    <div class="container">
        <div class="card">
            <div class="title"> ILIA'S WEATHER APP</div>
            <div>The weather at location: <%= @lat %>, <%= @lon %> is</div>
            <div class="flex">
                <div> <%= @icon %></div>
                <div class="divider"> | </div>
                <div> <%= @temperature %>°C</div>
            </div>
            <div class="tip">*refresh page for changing background</div>
        </div>
    </div>
</div>